Package: libpng
Version: 1.6.39
Port-Version: 1
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows, zlib
Architecture: x86-windows
Multi-Arch: same
Abi: 63ddd5969106e2874d3acd6a31b8df80dccb44c0e6c1f325c900113e12ea0f0a
Description: libpng is a library implementing an interface for reading and writing PNG (Portable Network Graphics) format files
